.boxx {
    background-image: url(/a-star-pathfinding-algorithm-visualization-on-a-real-map-v0-dzgAWfidMqFqX-3eSh9n1u4w8-Eq4oaZd0MpWZh75us.webp);
    min-height: 100vh;
    width: 100%;
    margin: 0;
    margin-top: -10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    max-width: 2440px;
    /* margin: auto; */
    margin-top: 10px;
    border-bottom: none; 
    border: unset; 
    box-shadow: 0 0px 8px 0 rgba(242, 241, 241, 0.2), 0 6px 20px 0 rgba(242, 237, 237, 0.19)
}

/* LEFT SECTION */
.logo-section {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-section img {
    width: 40px;
    height: 40px;
}

.app-name {
    color: white;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

/* RIGHT SECTION */
.auth-buttons {
    display: flex;
    gap: 15px;
    padding-right: 60px;
}

.auth-buttons button {
    width: 120px;
    height: 38px;
}

/* HERO */
.hero {
    max-width: 800px;
    margin: 155px 70px;
    color: white;
}

.hero h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
    animation: slideFromRight 3s ease-out forwards;
}

.hero p {
    margin-top: 80px;
    font-size: 19px;
    line-height: 1.6;
    opacity: 0.9;
    animation: slideFromRight 4s ease-out forwards;
}

/* SLIDE-IN ANIMATION */

.slide-down{
    animation: slideFromUp 3s ease-out forwards;
}

/* KEYFRAMES */
@keyframes slideFromRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideFromUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}