.stop-box{
    background-color: rgba(0, 0, 0, 0.913) ;
    height: 100vh;
    width:100%;
    align-items: center;
}
/* For Chrome, Safari, Edge */
.stops-container::-webkit-scrollbar {
  display: none;
}

/* .priority-info {
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #444;
  border-radius: 8px;
  padding: 12px 15px;
  color: #ddd;
  font-size: 14px;
} */

.priority-info h6 {
  margin-bottom: 8px;
  color: #fff;
}

.priority-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.priority-info li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 6px;
}

.tag {
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 5px;
  min-width: 80px;
  text-align: center;
  color: #fff;
}

.tag.extreme { background-color: #d32f2f; }
.tag.high    { background-color: #f57c00; }
.tag.medium  { background-color: #1976d2; }
.tag.low     { background-color: #388e3c; }
